* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#main {
    position: relative;
    z-index: 10;
    background-color: rgb(0, 0, 0);
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 242, 216);
}


#page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    background-color: rgb(255, 242, 216);
}

nav {
    padding: 2vw 3vw;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;

    justify-content: space-between;
}

#navpart2 {
    display: flex;
    align-items: center;
    gap: 1vw;

}

#navpart2 h4 {
    padding: 10px 20px;
    border: 1px solid rgb(27, 16, 16);
    border-radius: 50px;
    font-weight: 500;
    color: rgb(59, 56, 56);
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

#navpart2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;

}

#navpart2 h4:hover::after {
    bottom: 0;
    border-radius: 0;

}

#navpart2 h4 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    z-index: 9;
}

#navpart2 h4:hover a {
    color: white;
}

#center {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 65vh;
    width: 100%;
    padding-bottom: 2vw;
    border-bottom: 1px solid grey;
    /* background-color: orange; */
}

#left h3 {
    font-size: 2vw;
    width: 30vw;
    font-family: 'Ubuntu', sans-serif;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}

#right {
    align-items: right;
}

#page1 video {
    width: 100%;
    border-radius: 50px;
    padding: 2vw;
    position: relative;

}

#heroshape {
    position: absolute;
    width: 40vw;
    height: 36vw;

    right: 0;
    top: 70vh;
    filter: blur(15px);

}

#hero1 {
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(195, 147, 241);
    filter: blur(15px);
    position: absolute;
}

#hero2 {
    height: 30vw;
    width: 30vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(rgb(226, 201, 250), rgb(177, 108, 242));
    filter: blur(15px);
    position: absolute;
    animation-name: anime2;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero3 {
    height: 100%;
    width: 100%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(rgb(226, 201, 250), rgb(177, 108, 242));
    filter: blur(15px);
    position: absolute;
    animation-name: anime;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime {
    from {
        transform: translate(55%, -7%)
    }

    to {
        transform: translate(10%, 10%)
    }
}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%)
    }

    to {
        transform: translate(-20%, 30%)
    }
}

#page2 {
    padding: 8vw 0;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 242, 216);
    position: relative;
}

#movingtxt {
    overflow-x: auto;
    white-space: nowrap;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation-name: movtxt;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#movingtxt h1 {
    display: inline-block;
    font-size: 9vw;
    /* background-color: lightblue; */

}

#gola {
    margin: 1vw 2vw;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: coral;
    display: inline-block;

}

#movingtxt::-webkit-scrollbar {
    display: none;
}

@keyframes movtxt {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

#page2bot {
    height: 80vh;
    width: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;

}

#page2bot h1 {
    font-size: 3.5vw;
    width: 50%;
    position: relative;
    z-index: 9;
}

#botright {
    width: 30%;
    height: 50%;
    /* background-color: aqua; */
    font-weight: 50;
}

#botright img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
}

#botright p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2vw;
    line-height: 3vw;
}

#page2bot #bgeff {
    height: 32vw;
    width: 32vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, rgb(157, 255, 250), rgb(38, 133, 249));
    top: 60%;
    left: 25%;
    filter: blur(18px);
    animation-name: eff;
    animation-timing-function: ease-in-out;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes eff {
    from {
        filter: blur(20px);
        transform: translate(10%, -20%) skew(0)
    }

    to {
        filter: blur(30px);
        transform: translate(-20%, 10%) skew(-12deg)
    }
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 242, 216);

}

.elem {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    
    border-top: 1px solid  rgb(125, 125, 125);
    border-bottom: 1px solid  rgb(125, 125, 125);
    
    overflow: hidden;
}

.elem h2 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

#fixedimg{
    height: 30vw;
    width: 20vw;
    position: fixed;
    border-radius: 10px;
    z-index: 99;
    left :55%;
    top:25%;
    /* background-color: red; */
    display: none;
background-size: cover;
background-position: center;
}
#page4{
height: 60vh;
width: 100%;
background-color: rgb(255, 242, 216);
}
#page5{
    height: 100vh;
    width: 100%;

}
#foot{
    position: fixed;
    z-index: 9;
    background-color: rgb(255, 0, 0);
    height: 100vh;
    width: 100vw;
    /* color: white; */
}
#foot h1{
    position: fixed;
    margin :2000px;
    color: white;
    bottom: 0;
}